{{- if .Values.customMonitors.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "node-problem-detector.fullname" . }}-custom-monitors
  labels:
    app.kubernetes.io/name: {{ include "node-problem-detector.name" . }}
    helm.sh/chart: {{ include "node-problem-detector.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
data:
  {{- $path := .Values.customMonitors.path }}
  {{- $files := .Files.Glob (printf "%s/**" $path) }}
  {{- range $path, $_ := $files }}
  {{- $filename := base $path }}
  {{- if and (ne $filename "README.md") (ne $filename ".gitkeep") (not (hasSuffix ".example" $filename)) }}
  {{ $filename }}: |-
{{ $.Files.Get $path | indent 4 }}
  {{- end }}
  {{- end }}
{{- end }}
