{{ if .Values.cluster.secrets.name }}
---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: argocd-cluster-{{ .Release.Namespace }}
spec:
  encryptedData:
    name: {{ .Values.cluster.secrets.name | required "cluster.secrets.name is required" }}
    server: {{ .Values.cluster.secrets.server | required "cluster.secrets.server is required" }}
    config: {{ .Values.cluster.secrets.config | required "cluster.secrets.config is required" }}
  template:
    metadata:
      name: argocd-cluster-{{ .Values.tenantControlPlane.name}}
      namespace: system-argocd
    labels:
      app.kubernetes.io/instance: argocd
      app.kubernetes.io/part-of: argocd
      argocd.argoproj.io/secret-type: cluster
{{- end }}