apiVersion: kamaji.clastix.io/v1alpha1
kind: TenantControlPlane
metadata:
  name: {{ .Values.tenantControlPlane.name | required "tenantControlPlane.name is required" }}
  labels:
    tenant.clastix.io: {{ .Values.tenantControlPlane.name }}
spec:
  dataStore: {{ .Values.tenantControlPlane.dataStore | default "default" }}
  controlPlane:
    deployment:
      replicas: 1
      additionalMetadata:
        labels:
          tenant.clastix.io: {{ .Values.tenantControlPlane.name }}
      extraArgs:
        apiServer: []
        controllerManager: []
        scheduler: []
      resources:
        apiServer:
          requests:
            cpu: 250m
            memory: 512Mi
          limits: {}
        controllerManager:
          requests:
            cpu: 125m
            memory: 256Mi
          limits: {}
        scheduler:
          requests:
            cpu: 125m
            memory: 256Mi
          limits: {}
    service:
      serviceType: ClusterIP
  kubernetes:
    version: {{ .Values.tenantControlPlane.kubernetes.version }}
    kubelet:
      cgroupfs: systemd
    admissionControllers:
      - ResourceQuota
      - LimitRanger
  networkProfile:
    certSANs:
      {{ .Values.tenantControlPlane.gateway.hostname | list | toYaml }}
  addons:
    coreDNS: {}
    kubeProxy: {}
    konnectivity:
      server:
        port: 8132
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits: {}
