{{- $root := . -}}
{{- if .Values.sealedSecrets }}
{{- if kindIs "map" .Values.sealedSecrets }}
{{- range $name, $cfg := .Values.sealedSecrets }}
---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: {{ $name }}
  namespace: {{ default $root.Release.Namespace $cfg.namespace }}
spec:
  encryptedData:
    {{- with $cfg.encryptedData }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
  template:
    metadata:
      name: {{ $name }}
      namespace: {{ default $root.Release.Namespace $cfg.namespace }}
{{- end }}
{{- end }}
{{- end }}