{{- if .Values.kafka.enabled }}

{{- $clusterName := .Values.kafka.cluster.name -}}
{{- $defaultPartitions := .Values.kafka.partitions | default 1 -}}
{{- $defaultReplicas := .Values.kafka.replicas | default 1 -}}

{{- range .Values.kafka.topics }}
{{- if (has "create" .operations) }}
---
apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaTopic
metadata:
  name: {{ .name }}
  namespace: kafka
  labels:
    strimzi.io/cluster: {{ $clusterName }}
spec:
  partitions: {{ .partitions | default $defaultPartitions }}
  replicas: {{ .replicas | default $defaultReplicas }}
{{- end }}
{{- end }}
{{- end }}