{{- if eq .Values.ingress.className "traefik" -}}
{{- if .Values.ingress.middlewares.stripPath.enabled -}}
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: strip-prefix-{{.Release.Name}}
spec:
  stripPrefix:
    prefixes:
      {{- range .Values.ingress.hosts }}
        {{- range .paths }}
      - {{ .path }}
        {{- end }}
      {{- end }}
{{- end -}}
{{- end -}}
