{{- if include "microservice.hasChainedMiddlewares" . }}
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: {{ include "microservice.fullname" .}}-chain
spec:
  chain:
    middlewares:
    
    {{- if .Values.httproute.middlewares.acl.enabled }}
    - name: traefik-console-ip-acl@kubernetescrd
    {{- end -}}

    {{- if .Values.httproute.middlewares.auth.enabled }}
    - name: traefik-oauth2-proxy@kubernetescrd
    {{- end -}}

{{- end}}