apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "microservice.fullname" . }}-opa-config
data:
  opa-config.yaml: |
    distributed_tracing:
      type: grpc
      address: "${OTLP_ADDRESS}"
      service_name: {{ include "microservice.fullname" . }}
    bundles:
      authz:
        resource: {{ required "OPA authz bundle image required" .Values.opaSidecar.bundle.authz.image }}:{{ required "OPA authz bundle tag" .Values.opaSidecar.bundle.authz.tag }}
    {{- with .Values.opaSidecar.extraBundles }}
      {{- toYaml . | nindent 6 }}
    {{ end }}