apiVersion: v1
kind: Service
metadata:
  name: {{ include "microservice.fullname" . }}
  labels:
    {{- include "microservice.labels" . | nindent 4 }}
  annotations:
    {{- with .Values.service.annotations }}
      {{- toYaml . | nindent 8 }}
    {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      {{ if .Values.service.targetPort }}
      targetPort: {{ .Values.service.targetPort }}
      {{else}}
      targetPort: http
      {{ end }}
      protocol: TCP
      name: http
  selector:
    {{- include "microservice.selectorLabels" . | nindent 4 }}
